
.titre {
    font-size: 20px;
     font-family: Arial;
     text-align : center;
    color : red;
     background-color: yellow;
}

.titre:hover {
    color: green;
}

.titre:active {
    text-decoration: underline;
}

.titre2 {
     font-family: Arial;
     text-align : center;
    color : purple;
     font-size : 16px;
    margin-top:20px
}

.titre2:hover {
    color: green;
}

.titre2:active {
    text-decoration: underline;
}

.texte_qui_suivent{
    
    text-indent : 20px;
    font-size: 11px;
    font-family: Arial;
    margin-bottom:25px;
    margin-top:25px;
}

.liste123{
    font-size: 15px;
     font-family: Arial;
     color : blue;
     font-weight : bold;
}

.liste123:hover {
    color: green;
}

.liste123:active {
    text-decoration: underline;
}

.Decette{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom:20px;
    margin-top:10px;
    font-style : italic;
    margin-left: 1cm;
    margin-right: 1cm;
}

.soustitre{
    font-size: 13px;
    text-decoration: underline;
}

.precedenttitre{
    margin-bottom:20px;
    margin-top:10px;
     text-indent:12px; 
}

p:hover {
    font-style: italic;
}

.specialitalique{
    font-style : italic;
    margin-bottom:20px;
    margin-top:10px;
}

.paragraphe4{
     margin-bottom:20px;
    margin-top:10px;
    color : rgb(103, 166, 187);
}
